html {
    width: 100%;
    max-height: 90vh;
    background-color: darkgray;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    background-repeat: no-repeat;
    
    
}

.img{
    height: 20REM;
    width: 100%;
    display: flex;
    justify-content: center;

}


h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;

}

.selecteable-days {
     display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-between

}



.meals-field {
display: flex;
justify-content: center;
align-items: center;
width: 500px;              
height: 250px;
}

.display-checkeddays {
     display: flex;
    justify-content: center;
}

.generate-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#generate-button{
    background-color:rgb(36, 87, 3);
    border-radius: 20px;
}
.done-button{
    border-radius: 20px;
    background-color: red;

}
 
h2{
    display: flex;
    justify-content: center;

}

span{
    font-size: larger;
}

#display-results {
    display: flex;
    justify-content: center;
};
